@using ISSU.Models
@model List<CourseResult>

@{
    ViewBag.Title = "Курсове";
}

<h2>Курсове</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Курс </th>
            <th> Избираем </th>
            <th> Взет </th>
            <th> Кредити </th>
            <th> Оценка </th>
        </tr>
    </thead>
    <tbody> 
    @for (int i = 0; i < Model.Count(); ++i)
    {
        <tr>
            <td> @i </td>
            <td> @Model[i].Course.Name </td>
            <td> @Model[i].IsElective </td>
            @if (!Model[i].IsTaken)
            {
                if (Model[i].Grade == 0)
                {
                    <td class="warning"> @Model[i].IsTaken </td>
                }
                else
                {
                    <td class="danger"> @Model[i].IsTaken </td>
                }
                 
            }
            else
            {
                <td class="success"> @Model[i].IsTaken </td>
            }

            <td> @Model[i].Credits </td>
            <td> @Model[i].Grade </td>

        </tr>
    }
            
        
    </tbody>
</table>
