@using ISSU.Models
@model Article

@{
    ViewBag.Title = "CreateArticle";
}

<h2>CreateArticle</h2>

@using (Html.BeginForm("CreateArticle", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.ImageUrl)
        @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.ShortDescription)
        @Html.TextBoxFor(m => m.ShortDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ShortDescription)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        @Html.DropDownListFor(m => m.Category, (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
    </div>
    
    <input class="btn btn-primary" type="submit" value="Create" />
}