@using ISSU.Models
@model Student

@{
    ViewBag.Title = "Промяна на потребител";
}

<h2> @ViewBag.Title </h2>
<hr />

<div>
    @using (Html.BeginForm("UpdateUser", "Admin", FormMethod.Post, new { @class = "" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(s => s.Username)
            @Html.TextBoxFor(s => s.Username, new { disabled = "disabled", @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.FirstName)
            @Html.TextBoxFor(s => s.FirstName, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.MiddleName)
            @Html.TextBoxFor(s => s.MiddleName, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.LastName)
            @Html.TextBoxFor(s => s.LastName, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.FacultyNumber)
            @Html.TextBoxFor(s => s.FacultyNumber, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.Group)
            @Html.TextBoxFor(s => s.Group, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.Year)
            @Html.TextBoxFor(s => s.Year, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.Programme)
            @Html.TextBoxFor(s => s.Programme, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.CoursesUpdated)
            @Html.TextBoxFor(s => s.CoursesUpdated, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(s => s.AuthKeyUpdated)
            @Html.TextBoxFor(s => s.AuthKeyUpdated, new { @class = "form-control" })
        </div>
        
        <input class="btn btn-primary" type="submit" />
    }

</div>