@using ISSU.Models
@model Article

@{
    ViewBag.Title = Model.Title;
}

<hr/>

<div class="article">
    <img src="@Model.ImageUrl" /> <hr />
    <h2>@Model.Title</h2>

    <a href="/Categories/@Model.CategoryID">
        <div class="badge">
            @Model.Category.Name
        </div>
    </a>

    <p><span class="glyphicon glyphicon-time"></span> Публикувано на @Model.Created от Angelin</p><hr />
    <p>@Model.Content</p>
</div>